.send__call {
  padding-top: 55px;
  max-width: 545px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.send__call::after {
  content: "";
  position: absolute;
  width: 738px;
  height: 611px;
  top: -45px;
  right: -650px;
  background-image: url("../img/send-bg.png");
}

.send__call-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.29;
  color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  z-index: 9999;
}

.send__call-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 385px;
  margin-bottom: 54px;
  position: relative;
  z-index: 9999;
  color: rgba(255, 255, 255, 0.8);
}

.send__call-desc span {
  color: #36A7B9;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  z-index: 9999;
}

.send__call-test-email {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 9999;
}

.send__call-test-required {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  z-index: 9999;
  margin-bottom: 95px;
  color: rgba(255, 255, 255, 0.8);
}

.send__call-test-required span {
  position: relative;
  padding-left: 28px;
}

.send__call-test-required span::before {
  content: "";
  top: 2px;
  left: 0;
  position: absolute;
  width: 14px;
  height: 14px;
  z-index: -1;
  background-image: url("../img/nosign.svg");
}