// Container & Breakpoints
@use "sass:math";
$containerWidth: 1108;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu 
$burgerBreakpoint: $breakpoint992;
$burgerActiveColor: 'white';

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';